@model BookingHotel.Models.Hotel
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Update Hotel";
}
<h2>Edit Hotel</h2>
<a asp-action="index">Return to home</a>
<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <textarea asp-for="Address" class="form-control"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegionId">Region</label>
        <select asp-for="RegionId" asp-items="ViewBag.Regions"
                class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl">Hotel Image</label>
        <input type="file" asp-for="ImageUrl" class="form-control" />
        <img src="@Model.ImageUrl" alt="Product Image" style="max-width: 200px;" />
    </div>
    <div class="form-group">
        <label>Existing Images</label>
        @if (Model.Images != null && Model.Images.Any())
        {
            foreach (var image in Model.Images)
            {
                <div>
                    <img src="@image.ImageUrl" alt="Hotel Image" style="max-width: 200px;" />
                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteImage('@image.Id')">Delete</button>
                </div>
            }
        }
        else
        {
            <p>No images found.</p>
        }
    </div>

    <div class="form-group">
        <label>Upload New Images</label>
        <input type="file" name="newImages" multiple class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Cập nhật</button>
</form>