@model IEnumerable<BookingHotel.Models.Region>

@{
    ViewData["Title"] = "Index";
}

<p class="pt-3">
    <a asp-action="Add" class="btn btn-primary">Add Region</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Region Name</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@item.ImageUrl" alt="Region Image" class="img-fluid" style="max-width: 200px; max-height: 200px" />
                        }
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Update</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>