<h2>Hotels</h2>

<table class="table">
    <thead>
        <tr>
            <th>Hotel Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Image Url</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var hotel in Model)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a asp-action="#" asp-route-id="@hotel.Id">View</a> |
                    <a asp-action="#" asp-route-id="@hotel.Id">Edit</a> |
                    <a asp-action="#" asp-route-id="@hotel.Id">Delete</a>
                </td>
            </tr>
        } *@
    </tbody>
</table>